.header-logo {
    float:left;
    padding: 25px 15px;
    font-size:32px;
    font-family: Avenir Next;
}
li{
    list-style-type: none;
    float :left;
    padding: 25px 10px;
    font-family: Avenir Next;
}
.header{
    background-color: rgb(79, 143, 207);
    height: 100px;
    width: 100%;
    color : #fff;

}

.footer{
    background-color: #2f5167;
    color : #fff;
    height : 150px;
}
.footer-list{
    list-style-type: none;
    
    float: right;

}
.footer-list li{
    padding: 10px 15px;
    font-family: Avenir Next;
}
.footer-logo{
    float: left;
    padding: 25px 15px;
    font-size:16px;
    font-family: Avenir Next;
}